
<div class="container">
	<div class="row">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th> Hostname </th>
						<th> CPUs </th>
						<th> Ram (MB) </th>
						<th> Environment ID </th>
						<td>&nbsp;</td>
					</tr>
				</thead>
				<tbody id="vmTable">
      				<%= render partial: "virtual_machines/partials/tableRows" %>
				</tbody>
			</table>
		</div>
		<div class="col-md-12 text-center">
			<ul class="pagination pagination-lg pager" id="vmPager"></ul>
		</div>
	</div>
</div>